.s_heading h1 {
    font-size: 2.1em !IMPORTANT;
    font-weight: normal !IMPORTANT;
    font-family: 'PT Serif', sans-serif !IMPORTANT;
    text-align: left !IMPORTANT;
}

.s_heading h1 {
    font-size: 1.6em !IMPORTANT;
    font-weight: normal !IMPORTANT;
    font-family: 'PT Serif', sans-serif !IMPORTANT;
    text-align: left !IMPORTANT;
}